
/* FOR DARK MODE TOGGLE */

/* @import "tailwindcss";

:root {
  --primary-color: #152A24;
  --secondary-color: #BCE955;
  --body-text: #41574A;
  --stroke-color: #E5E5E5;
}

body {
  transition: background-color 0.3s ease, color 0.3s ease;
}

.primary { color: var(--primary-color); }
.secondary { background-color: var(--secondary-color); }
.body-text { color: var(--body-text); }
.stroke { color: var(--stroke-color); } */

/* --------- */


@plugin "daisyui";
@import "tailwindcss";

.primary{
    color:#152A24
}
.secondary{
    background-color:  #BCE955;
}

.body{
    color: #41574A;
}

.stroke{
    color: #E5E5E5;
}

.stroke2{
    color: #F6F6F6;
}

.lightBg{
    color: #FAFAFA;
}

.lightBg1{
    color: #1F462D;
}



.nav-link {
  text-decoration: none; 
  color: white; 
  padding: 5px 10px;
  transition: all 0.3s ease;
}

.nav-link.active {
  color: #BCE955; 
  text-decoration: underline; 
  font-weight: bold;
}







